.team {
@include flex-gap (30px);
}

.team__item {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    background-color: var(--primary-bgc-color);
}

.team__wrapper {
    padding-top: 30px;
    padding-bottom: 30px;
}

.team__member {
    margin-bottom: 10px;
    text-align: center;

    color: var(--primary-text-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.team__position {
    text-align: center;
    margin-bottom: 16px;

    color: var(--secondary-text-color);

    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;

    letter-spacing: 0.03em;
}