.contact-form__text {
    display: block;
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--tertiary-text-color);
}



.contact-form__input {
    padding: 15px;
    width: 358px;
    margin-right: 12px;

    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    background-color: transparent;

    &::placeholder{
        font-weight: 400;
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 0.03em;

        color: rgba(255, 255, 255, 0.6);
    }

    &:not(:placeholder-shown) {
        color: rgba(255, 255, 255, 0.6);
    }
}


// btn

.contact-form__button{
    min-width: 200px;
    display: inline-flex;
    align-items: center;
}


