.footer {
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: var(--tertiary-bgc-color);
}

.footer__container {
    display: flex;
    align-items: baseline;
}

.footer__address {
    margin-right: 70px;
}

.footer__logo {
    display: inline-block;
    margin-bottom: 20px;
}

.footer__logo_dark{
    color: var(--tertiary-text-color);
}


.footer__socials_text {
    display: block;
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--tertiary-text-color);
}

.footer__contact-form {
    margin-left: auto;

}