.header {
    border-bottom: 1px solid #ececec;
}

.header__container {
    display: flex;
    align-items: center;
}

.header__logo{
    padding-top: 24px;
    padding-bottom: 24px;
    margin-right: 93px;
}

.header__logo_dark{
    color: #000000;
}