.nav{
    @media screen and (max-width: 767px) {
            display: none;
        }
}

.nav__list {
    @include flex-gap(50px);
}

/* .nav__item:not(:last-child){
margin-right: 50px;
} */


.nav__link {
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;

    color: currentColor;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    transition: color var(--transition-duration) var(--transition-timing-function);

    &:hover, &:focus{
        color: var(--accent-color);
    }

    &_active-page {
        position: relative;
        color: var(--accent-color);
    
        &::after {
            content: "";
    
            position: absolute;
            left: 0;
            bottom: 0;
    
            width: 100%;
            height: 4px;
            border-radius: 2px;
    
            background-color: var(--accent-color);
        }
    }
}
