:root {
    --primary-bgc-color: #FFFFFF;
    --secondary-bgc-color: #F5F4FA;
    --tertiary-bgc-color: #2f303a;

    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --tertiary-text-color: #ffffff;

    --accent-color: #2196f3;
    --icon-color: #AFB1B8;

    --primary-font-family: Roboto, sans-serif;
    --secondary-font-family: Raleway, sans-serif;

    --transition-duration: 250ms;
    --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}